.container {
  width: 100%;
  padding: var(--padding-size);
  display: flex;
  justify-content: space-between;
}

.text-container,
.image-container {
  max-width: 540px;
}

.buttons-container {
  max-width: 453px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container img {
  width: 100%;
}
