header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: var(--light-grey);
  padding: 0.5rem 4rem;
}

.logo {
  color: var(--green);
  font-weight: var(--font-bold);
  font-size: 2rem;
}

.nav-container {
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
}


.logo:hover,
.nav-link:hover {
  color: (--medium-green);
  transition: all 0.2s ease 0s;
}
